.content {
    background-color: papayawhip;    
}
.content article {
    margin: 4em 15em 4em 15em;
    color: black;   
    text-align: center;
}
article h3 {
    font-weight: 2em;
    font-weight: bolder;
    margin-top: 30px;
}
article p {
    font-weight: 600;
}
article pre {
    background-color: #ccc;
    text-align: left;
}
article ul {
    font-weight: 2em;
    font-weight: bolder;
}
figure img {
    max-width: 500px;
}
figcaption {
    font-weight: 200;
    font-style: italic;
}
figure a {
    text-decoration: none;
    color: black
}
.monospace {
    font-family: monospace;
}