body {
    margin: 0;
}
header {
    width: 100%;
}
header {
    display: flex;
}
.title {
    width: 25%;
}
.head-space {
    width: 50%;
}
.navbar{
    width: 25%;
    display: flex;
    align-items: right;
}
.navbar .nav-item {
    width: 50%;
    text-align: center;
    position: relative;
}
.nav-item a {
    position: relative;
    vertical-align: middle;
    margin: 0;
    top: 50%;
    bottom: auto;
    
}


/* main content css */
main > div {
    background: #eee;
    padding: 1em;
}
main > div:nth-child(odd){
    background:#ddd;
}

.container-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}
.sidebar {
    height: auto;
    padding: 0;
    background-color: chartreuse !important;
}
.sidebar img {
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
}
.main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-image: ;
}
.blog-link img {
    object-fit: contain;
}



* {
    outline: 1px solid red !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.row {
    width: 100;
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.6%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}