body {
    margin: 0;
}
/* header css */
header {
    background-color:slateblue;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
#title {
    margin-right: auto;
}
header h3 {
    margin: 20px 0px 20px 0px;
    padding: 30px 10px 20px 10px;    
    vertical-align: middle;
    text-emphasis: center;
}
header a {
    text-decoration: none;
    color: Black;
}
header a:hover {
    color: salmon;
    cursor: pointer;
}
/* main content css */
.container-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}
.sidebar {
    height: auto;
    padding: 0;
    background-color: chartreuse !important;
}
.sidebar img {
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
}




* {
    outline: 1px solid red !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}